<nav class="navbar navbar-default navbar-fixed-top navbarDash">
    <div class="">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="#/dashboard">Auxilingua</a>
        </div>
        <!--<a href="#/dashboard">Back</a>-->
        <!--<a href="#/login">Logout</a>-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="#/login">Logout</a></li>
                <li> </li>
                <p class="centeredTitle">Dashboard</p>

            </ul>

        </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid containerRowDash">


    <div class="text-center containerRow">
        <table class="table table-hover table-bordered ">
            <thead>
            <tr>
                <th>Parsing</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="goto(/#/latin-detail)">
                <td class = "word" >
                    <a href="/#/latin-detail">Parsing Playground</a>
                </td>
            </tr>
            <tr>
                <td class = "word">
                    <a href="/#/parsing_quiz">Parsing Quiz</a>
                </td>
            </tr>

            </tbody>
        </table>

        <table class="table table-hover table-bordered ">
            <thead>
            <tr>
                <th>Common Phrases</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class = "word">
                    <a href="/#/common_phrase">Common Phrases</a>
                </td>
            </tr>
            <tr>
                <td class = "word">
                    <a href="/#/common_phrase_quiz">Common Phrase Quiz</a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>